<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project Two</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <div class = "container">
        <div class="jumbotron text-center">
            <h1>May We Suggest?</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Brrr! Cold Forecast</a></p>
            <p><a class="btn btn-primary btn-lg" href="/scrapetwo" role="button">Hot! Hot! Hot! Warm Forecast</a></p>
            <p><a class="btn btn-primary btn-lg" href="/scrapethree" role="button">Just right, in style! Mild Forecast</a></p>
        </div>
        
        {% for shoppingdict in shopping%}
        <div class = "container-fluid">
            <div class = "row">
                <div class="col-md-12">
                    <div class="col-md-4">
                    <h2 id="h2">Jackets</h2>
                        <h3 id="h3">{{ shoppingdict.Jacket_Title }} </h3>
                        <a href = {{ shoppingdict.Jacket_URL}}> Click here!</a>
                            <img src = "{{ shoppingdict.Jacket_Image }}" alt = "Jacket Image" width="100" height="100">
                    </div>
                    <div class="col-md-4">
                        <h2 id="h2">Jeans</h2>
                            <h3 id="h3">{{ shoppingdict.Jean_Title }} </h3>
                            <a href = {{ shoppingdict.Jean_URL }}> Click here!</a>
                                <img src = "{{ shoppingdict.Jean_Image }}" alt = "Jean Image" width="100" height="100">
                    </div>
                    <div class="col-md-4">
                        <h2 id="h2">Shoes</h2>
                            <h3 id="h3">{{ shoppingdict.Shoes_Title }} </h3>
                            <a href = {{ shoppingdict.Shoes_URL }}> Click here!</a>
                                <img src = "{{ shoppingdict.Shoes_Image }}" alt = "Shoes Image" width="100" height="100">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class = "row">
                <div class="col-md-12">
                    <div class="col-md-4">
                    <h2 id="h2">Polos</h2>
                        <h3 id="h3">{{ shoppingdict.Polo_Title }} </h3>
                        <a href = {{ shoppingdict.Polo_URL }}> Click here!</a>
                            <img src = "{{ shoppingdict.Polo_Image }}" alt = "Jacket Image" width="100" height="100">
                    </div>
                    <div class="col-md-4">
                        <h2 id="h2">Shorts</h2>
                            <h3 id="h3">{{ shoppingdict.Shorts_Title }} </h3>
                            <a href = {{ shoppingdict.Shorts_URL }}> Click here!</a>
                                <img src = "{{ shoppingdict.Shorts_Image }}" alt = "Jean Image" width="100" height="100">
                    </div>
                    <div class="col-md-4">
                        <h2 id="h2">Sandals</h2>
                            <h3 id="h3">{{ shoppingdict.Sandals_Title }} </h3>
                            <a href = {{ shoppingdict.Sandals_URL }}> Click here!</a>
                                <img src = "{{ shoppingdict.Sandals_Image }}" alt = "Shoes Image" width="100" height="100">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class = "row">
                <div class="col-md-12">
                    <div class="col-md-4">
                    <h2 id="h2">Dress Pants</h2>
                        <h3 id="h3">{{ shoppingdict.DP_Title }} </h3>
                        <a href = {{ shoppingdict.DP_URL }}> Click here!</a>
                            <img src = "{{ shoppingdict.DP_Image }}" alt = "Jacket Image" width="100" height="100">
                    </div>
                    <div class="col-md-4">
                        <h2 id="h2">Dress Shirts</h2>
                            <h3 id="h3">{{ shoppingdict.DShirt_Title }} </h3>
                            <a href = {{ shoppingdict.DShirt_URL }}> Click here!</a>
                                <img src = "{{ shoppingdict.DShirt_Image }}" alt = "Jean Image" width="100" height="100">
                    </div>
                    <div class="col-md-4">
                        <h2 id="h2">Dress Shoes</h2>
                            <h3 id="h3">{{ shoppingdict.DS_Title }} </h3>
                            <a href = {{ shoppingdict.DS_URL }}> Click here!</a>
                                <img src = "{{ shoppingdict.DS_Image }}" alt = "Shoes Image" width="100" height="100">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>